@import "colors.scss";

// Global STARTS
html,body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;	
}
#clear{
	position: absolute;
	top:0px;
	display: none;
}
#page {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 8px solid #f00;
}
.addToList-section{
	display: none;
}
.timer-section{
	display: block;
// 	text-align: center;	
}
.hideEl{
	display: none;
}
.v-centered{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.max-width{
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
}
// Global ENDS

// Typography STARTS


h11{ // actList header
	font-size: 18px;
	font-weight: 600;	
}
h12{ // actList description
	font-size: 18px;
	font-weight: 600;	
}
h13{ // actList display across top
	display: block;
	height: 100px;
	width: 100%;
	text-align: center;
	font-size: 26px;
	font-weight: 100;
	box-sizing: border-box;
	padding-top: 30px;
	letter-spacing: .04em;	
}
h14{
	display: block;
	width: 140px;
	float: right;
	text-align: right;
	padding-top: 4px;
	cursor: pointer;
}
h15{
	display: block;
	text-align: center;
}
h18{
	position: absolute;
	width: 200px;
	height: 20px;
	left: 50%;
	margin-left: -100px;
	bottom: 18px;
	color: white;
	text-align: center;
	letter-spacing: .04em;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
}
h18:hover{
	text-decoration: underline;
}
h20{
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: $Pink;
	letter-spacing: .06em;
	font-weight: 500;
	font-size: 14px;
	transition: color .15s linear;	
}
h21{ //projectNameCapture
	display: block;
	height: 56px;
	font-size: 48px ;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	margin-top: 70px;	
}
.ellipsis{
    display:inline-block;
    width:320px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.ellipsis-short-width{
	display:inline-block;
    text-align: left;
    text-indent: 4px;	
    white-space: nowrap;
    overflow:hidden !important;
    box-sizing: border-box;
    padding-right: 56px;
    text-overflow: ellipsis;
}
h22{
	display: block;
	text-align: center;
	font-size: 14px;
}
h23{ // log book button
	position: absolute;
	left: 50%;
	margin-left: -75px;
	margin-top: 40px;
	width: 150px;
	height: 45px;
	font-weight: 500;
	background-color: white;
	border-radius: 30px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .06em;
	font-size: 14px;
	color: #666;
	cursor: pointer;
	box-sizing: border-box;
	padding-top: 14px;
	transition: all .15s linear;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
h23:hover{
	background-color: $Pink;
	color: white;
}
h24{
	position: absolute;
	top:10px;
	right: 20px;
	cursor: pointer;
	width: 65px;
	height: 20px;
	text-align: right;
}
h25{ // timeKeeperContainer title
	display: block;
	color: $Pink;
	font-size: 20px;
	height: 12px;
	font-weight: 500;
	letter-spacing: .04em;
}
h26{ // timeKeeperContainer time
	font-size: 36px;
	font-weight: 300;
	font-family: 'Roboto Condensed', sans-serif;
}
h27{ // timeKeeperContainer date
	display: block;
	font-size: 16px;
	height: 32px;
	width: 136px;
	float: right;
	color: $Medium-Grey;
}
h27 span{
	color: $Dark-Grey;	
}
h28{ // timeKeeperContainer Notes
	width: 58px;
	height: 16px;
	float: right;
	text-align: right;
	margin-top: 14px;	
	cursor: pointer;
	font-size: 14px;
	background-image: url(../images/note-icon.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	color: #C8C8C8;
}
h29{ // timeKeeperContainer Delete
	width: 60px;
	height: 16px;
	float: left;
	text-align: right;
	margin-top: 14px;
	font-size: 14px;
	background-image: url(../images/delete-icon.png);
	background-repeat: no-repeat;				
	cursor: pointer;
	color: #C8C8C8;		
}
h30{ // Logbook section title
	margin-top: 60px;
	display: block;
	text-align: center;
	font-size: 18px;
	color: $Dark-Grey;
	text-transform: uppercase;
	font-weight: 500;
}
h30 span{
	cursor: pointer;
}
h30 span:hover{
	text-decoration: underline;	
}
h32{
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .06em;
}
h32 span{
	color: $Pink;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6em;	
}
// Typography ENDS
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #FF4874;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  text-align: center;
  display: block;
  width: 15em;
  height: 2.4em;
  line-height: 2.6;
  background: #FF4874;
  overflow: hidden;
  border-radius: .25em; 
  margin: 0px auto;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
#projectListTest{
	font-size: 16px;
	letter-spacing: .03em;
	font-weight: 200;
	text-transform: uppercase;
}
/* Arrow */
.select::after {
  content: '\25BC';
  font-size: 12px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 5px 1.5em 0px;
  background: #FF4874;
  pointer-events: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
/* Transition */
.select:hover::after {
  color: white;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.stopwatch{
	display: none;
}
.listItem{
	position: relative;
	width: 100px;
}
.listItem:hover h29{
	color: $Pink;
}
.actList-container{
	width: 100%;
	height: 400px;
	overflow-x: hidden;
	background-color: #FAFAFA;
	box-sizing: border-box;
	padding: 10px;
}
.actList{
	list-style-type: none;
	padding: 0px;
}
.actList li{
	position: relative;
}
.deleteActivityBtn{
	position: absolute;
	top:0;
	right: 6px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-color: #f30;
	display: none;
}
.actList li:hover .deleteActivityBtn{
	display: block;
}
.activity-description{
	resize: none;
	height: 100px;
}


//////////////// Timer Page STARTS ////////////////
.greyDots{
	position: fixed;
	right: 0;
	top: 0;
	width: 180px;
	height:270px;
	background-image: url(../images/greyDots.png);
	background-position: 26px -84px;
	background-repeat: no-repeat;
}

.timer-footer-bkg{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 76px;
	background-color: $Purple;
	transition: all .15s ease-out 0s;	
}
.timer-footer-nav-btn{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	background-color: $Pink;
	bottom: 50px;
	z-index: 2;
	border-radius: 100%;
	cursor: pointer;
	background-image: url(../images/running-icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	transition: all .25s ease-out 0s;
}
.startStop-btn{
	position: absolute;
	width: 80px;
	height: 80px;
	cursor: pointer;
	border: 2px solid $Pink;
	background-color: white;
	border-radius: 100%;
	left: 50%;
	margin-left: -40px;
	transition: background-color .15s linear;
}
.startStop-btn:hover{
	background-color: $Pink;	
}
.startStop-btn:hover h20{
	color:white;	
}
.startStop-btn-active{
	background-color: $Pink;		
}
.startStop-btn-active h20{
	color:white;	
}
.logoTimerBox{
	position: absolute;
	left: 50%;
	margin-left: -40px;
	width: 80px;
	height: 97px;
	background-image: url(../images/greyLogo.png);
	background-repeat: no-repeat;	
}
//// LOG BOOK STARTS ////
.logBook-overlay{
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	top:0;
	z-index: 3;
	background-color: $Light-Grey;
	display: none;	
}
.logbook-container{
	position: fixed;
	width: 320px;
	top:100px;
	bottom: 20px;
	margin-left: -160px;
	left: 50%;
	overflow-x: hidden;
}
#timeKeeperContainer{
	list-style-type: none;
	padding-left: 0px;
}

#timeKeeperContainer li{
	margin-bottom: 16px;
	width: 300px;
	height: 140px;
	background-color: white;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 14px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
	}
//// LOG BOOK ENDS ////

//// NOTE BOOK STARTS ////
#noteBook-container{
	position: fixed;
	width: 320px;
	top:100px;
	bottom: 20px;
	margin-left: -160px;
	left: 50%;
	z-index: 4;
	overflow-x: hidden;
	display: none;
}
#userNotes{
	width: 320px;
	box-sizing: border-box;
	padding: 10px;
	resize: vertical;
	border:0px;
	border:none;
	height: 200px;
}
#UpdateNotes{
	float: right;
}

//// NOTE BOOK ENDS ////

//////////////// Timer Page ENDS ////////////////










